---
import type { SubMenuAdmin } from "@/constants/adminLinks";

interface Props {
  subMenu: SubMenuAdmin;
}

const { subMenu } = Astro.props;

const currentPath = Astro.url.pathname;

const isSamePath = currentPath === subMenu.href;
---

<li class="py-1 hover:text-blue-500 hover:underline">
  <a
    class:list={[
      "flex items-center gap-1 text-md transition-colors capitalize ",

      {
        "dark:text-brand-300 text-blue-500": isSamePath,
      },
    ]}
    href={subMenu.href}
  >
    {subMenu.name}
  </a>
</li>