---
import Icon from "@/icons/Icon.astro";

interface Props {
  href?: string;
  icon: string;
  name: string;
  hasChildren: boolean;
}

const { href, name, hasChildren } = Astro.props;
const currentPath = Astro.url.pathname;
const isSamePath = currentPath === href;
---

<a
  class:list={[
    "flex w-full justify-between cursor-pointer hover:bg-blue-400 hover:text-gray-100 transition-colors p-2",
    {
      "text-blue-500 dark:text-brand-300": isSamePath,
    },
  ]}
  href={href}
>
  <span class="flex gap-1">
    {name}
  </span>
  {hasChildren && <Icon name="arrow-down" class="w-10" />}
</a>
